<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.5.1/css/all.css"
      crossorigin="anonymous"
    />
    <title>Mercado Libre de Impuestos</title>
  </head>
  <body>
    <header>
      <div class="header-top">
        <img
          class="logo"
          src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.5.16/mercadolibre/logo__large_plus@2x.png"
          alt="Logo de mercado libre"
        />
        <div class="seeker">
          <input
            class="input-search"
            type="text"
            placeholder="Buscar productos, marcas"
          /><button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p class="description-service">
          <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
          tarjeta de crédito
        </p>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="navbar">
        <ul class="navbar--left">
          <li class="navbar__item">
            <a
              class="navbar__item__link"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Ofertas</a
            >
          </li>
          <li class="navbar__item">
            <a
              class="navbar__item__link"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Tiendas Oficiales</a
            >
          </li>
          <li class="navbar__item">
            <a
              class="navbar__item__link"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Vender</a
            >
          </li>
          <li class="navbar__item">
            <a
              class="navbar__item__link"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Ayuda</a
            >
          </li>
        </ul>
        <ul class="navbar--right">
          <li class="navbar__item">
            <a
              class="navbar__item__link"
              href="./register.html"
              target="_blank"
              rel="noopener noreferrer"
              >Crea tu cuenta <i class="fa-regular fa-id-card"></i
            ></a>
          </li>
          <li class="navbar__item">
            <a
              class="navbar__item__link"
              href="./login.html"
              target="_blank"
              rel="noopener noreferrer"
              >Ingresa <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li class="navbar__item">
            <a
              class="navbar__item__link"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h3 class="title__section">Basado en la ultima visita</h3>
      <section class="section-products">
        <div class="card">
          <img
            src="https://http2.mlstatic.com/D_NQ_NP_706429-MLA41875311491_052020-O.webp"
            alt="Producto 1"
            class="card__image"
          />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$6.770</p>
              <p class="card__discount">20% off</p>
            </div>
            <p class="card__name">Cafetera Moulinex</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://http2.mlstatic.com/D_NQ_NP_711689-MLA49599116073_042022-O.webp"
            alt="Producto 1"
            class="card__image"
          />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$230.000</p>
              <p class="card__discount">20% off</p>
            </div>
            <p class="card__name">Cafetera Moulinex</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://http2.mlstatic.com/D_NQ_NP_743492-MLA52964050287_122022-O.webp"
            alt="Producto 1"
            class="card__image"
          />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$70.500</p>
              <p class="card__discount">10% off</p>
            </div>
            <p class="card__name">Samsung Galaxy S10</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://http2.mlstatic.com/D_NQ_NP_665257-MLA54912889532_042023-O.webp"
            alt="Producto 1"
            class="card__image"
          />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$23.200</p>
              <p class="card__discount">5% off</p>
            </div>
            <p class="card__name">SmartTv Samsung 43"</p>
          </div>
        </div>
      </section>
      <h3 class="title__section">Productos destacados</h3>
      <section class="section-products">
        <div class="card">
          <img
            src="https://http2.mlstatic.com/D_NQ_NP_706429-MLA41875311491_052020-O.webp"
            alt="Producto 1"
            class="card__image"
          />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$6.770</p>
              <p class="card__discount">20% off</p>
            </div>
            <p class="card__name">Cafetera Moulinex</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://http2.mlstatic.com/D_NQ_NP_711689-MLA49599116073_042022-O.webp"
            alt="Producto 1"
            class="card__image"
          />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$230.000</p>
              <p class="card__discount">20% off</p>
            </div>
            <p class="card__name">Cafetera Moulinex</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://http2.mlstatic.com/D_NQ_NP_743492-MLA52964050287_122022-O.webp"
            alt="Producto 1"
            class="card__image"
          />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$70.500</p>
              <p class="card__discount">10% off</p>
            </div>
            <p class="card__name">Samsung Galaxy S10</p>
          </div>
        </div>
        <div class="card">
          <img
            src="https://http2.mlstatic.com/D_NQ_NP_665257-MLA54912889532_042023-O.webp"
            alt="Producto 1"
            class="card__image"
          />
          <div class="card__info">
            <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
            <div class="card__price-info">
              <p class="card__price">$23.200</p>
              <p class="card__discount">5% off</p>
            </div>
            <p class="card__name">SmartTv Samsung 43"</p>
          </div>
        </div>
      </section>
    </main>
    <footer class="content-info">
      <div class="slide__info">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div class="slide__info">
        <i class="fa-solid fa-truck"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrado en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div class="slide__info">
        <i class="fa-solid fa-shield-halved"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer,porque estás siempre protegido.
        </p>
      </div>
      <div class="slide__info">
        <span>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</span>
      </div>
    </footer>
  </body>
</html>
