<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous" />
  <title>Mercado Libre de Impuestos</title>
</head>

<body>
  <%- include("./partials/header.ejs") %>
  <main>
    <h3 class="title__section">Basado en la ultima visita</h3>
    <section class="section-products">
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_706429-MLA41875311491_052020-O.webp" alt="Producto 1"
          class="card__image" />
        <div class="card__info">
          <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
          <div class="card__price-info">
            <p class="card__price">$6.770</p>
            <p class="card__discount">20% off</p>
          </div>
          <p class="card__name">Cafetera Moulinex</p>
        </div>
      </div>
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_711689-MLA49599116073_042022-O.webp" alt="Producto 1"
          class="card__image" />
        <div class="card__info">
          <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
          <div class="card__price-info">
            <p class="card__price">$230.000</p>
            <p class="card__discount">20% off</p>
          </div>
          <p class="card__name">Macbook Pro 2019</p>
        </div>
      </div>
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_743492-MLA52964050287_122022-O.webp" alt="Producto 1"
          class="card__image" />
        <div class="card__info">
          <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
          <div class="card__price-info">
            <p class="card__price">$70.500</p>
            <p class="card__discount">10% off</p>
          </div>
          <p class="card__name">Samsung Galaxy S10</p>
        </div>
      </div>
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_665257-MLA54912889532_042023-O.webp" alt="Producto 1"
          class="card__image" />
        <div class="card__info">
          <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
          <div class="card__price-info">
            <p class="card__price">$23.200</p>
            <p class="card__discount">5% off</p>
          </div>
          <p class="card__name">SmartTv Samsung 43"</p>
        </div>
      </div>
    </section>
    <h3 class="title__section">Productos destacados</h3>
    <section class="section-products">
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_706429-MLA41875311491_052020-O.webp" alt="Producto 1"
          class="card__image" />
        <div class="card__info">
          <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
          <div class="card__price-info">
            <p class="card__price">$6.770</p>
            <p class="card__discount">20% off</p>
          </div>
          <p class="card__name">Cafetera Moulinex</p>
        </div>
      </div>
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_711689-MLA49599116073_042022-O.webp" alt="Producto 1"
          class="card__image" />
        <div class="card__info">
          <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
          <div class="card__price-info">
            <p class="card__price">$230.000</p>
            <p class="card__discount">20% off</p>
          </div>
          <p class="card__name">Macbook Pro 2019</p>
        </div>
      </div>
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_743492-MLA52964050287_122022-O.webp" alt="Producto 1"
          class="card__image" />
        <div class="card__info">
          <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
          <div class="card__price-info">
            <p class="card__price">$70.500</p>
            <p class="card__discount">10% off</p>
          </div>
          <p class="card__name">Samsung Galaxy S10</p>
        </div>
      </div>
      <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_665257-MLA54912889532_042023-O.webp" alt="Producto 1"
          class="card__image" />
        <div class="card__info">
          <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
          <div class="card__price-info">
            <p class="card__price">$23.200</p>
            <p class="card__discount">5% off</p>
          </div>
          <p class="card__name">SmartTv Samsung 43"</p>
        </div>
      </div>
    </section>
  </main>
  <%- include("./partials/footer.ejs") %>
</body>
</html>