<header>
  <div class="header-top">
    <a href="/">
      <img class="logo"
        src="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.5.16/mercadolibre/logo__large_plus@2x.png"
        alt="Logo de mercado libre" />
    </a>
    <div class="seeker">
      <input class="input-search" type="text" placeholder="Buscar productos, marcas" /><button><i
          class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <p class="description-service">
      <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin
      tarjeta de crédito
    </p>
  </div>
  <div class="burger-menu">
    <i class="fas fa-bars"></i>
  </div>
  <nav class="navbar">
    <ul class="navbar--left">
      <li class="navbar__item">
        <a class="navbar__item__link" href="http://" target="_blank" rel="noopener noreferrer">Ofertas</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__item__link" href="http://" target="_blank" rel="noopener noreferrer">Tiendas Oficiales</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__item__link" href="http://" target="_blank" rel="noopener noreferrer">Vender</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__item__link" href="http://" target="_blank" rel="noopener noreferrer">Ayuda</a>
      </li>
    </ul>
    <ul class="navbar--right">
      <li class="navbar__item">
        <a class="navbar__item__link" href="/register" rel="noopener noreferrer">Crea tu cuenta
          <i class="fa-regular fa-id-card"></i></a>
      </li>
      <li class="navbar__item">
        <a class="navbar__item__link" href="/login" rel="noopener noreferrer">Ingresa <i
            class="fa-solid fa-right-to-bracket"></i></a>
      </li>
      <li class="navbar__item">
        <a class="navbar__item__link" href="http://" rel="noopener noreferrer">Mis compras <i
            class="fa-solid fa-basket-shopping"></i></a>
      </li>
    </ul>
  </nav>
</header>